.recipe-banner {
    width: 100%;
}

.recipe-name {
    display: flex;
    justify-content: space-between;
}

.recipe-name button {
    font-size: 25px;
    color: red;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align: end;
}

.info {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

/* Tabs */
.tab {
    display: flex;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    padding: 10px 25px;
}

.tabcontent li {
    margin: 15px 0px;
}

/* Add Recipe */
.recipeform label {
    display: inline-block;
    text-align: right;
    width: 100px;
}

.recipeform input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.div1 input {
    width: 900px;
}

.div2 {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.time label {
    width: auto;
}

.time input {
    width: 80px;
}

.category select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 10%;
}

.ingredientlist input,
.directionslist input {
    width: 90%;
}

.ingredientlist ul,
.directionslist ol {
    margin-left: 0;
    padding-left: 0;
}

.directionslist ol {
    counter-reset: item;
}

.ingredientlist li,
.directionslist li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
}

.ingredientlist li::before,
.directionslist li::before {
    display: inline-block;
    width: 3em;
    margin-left: -2em;
}

.ingredientlist li::before {
    content: "■";
    text-align: center;
}

.directionslist li::before {
    content: "Step " counter(item);
    counter-increment: item;
}

.recipeform button {
    background-color: teal;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipeform button[type="button"] {
    margin: 10px 20px;
    width: 200px;
    font-size: medium;
}

.recipeform button[type="submit"] {
    margin: 8px 0;
    width: 50%;
}

.recipeform button:hover {
    background-color: #4c9e9e;
}